<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="400" alt="Angular Logo" src="https://cdn-blog.scorum.com/production/bdn/e09d9d413462e4cc_1000">


  <br/>

Ерлан &nbsp;&nbsp;&nbsp;{{summa1}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


  Ильяс &nbsp;&nbsp;&nbsp;{{summa2}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


  Темирлан &nbsp;&nbsp;&nbsp;{{summa3}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


  Дима &nbsp;{{summa4}}

  <br/>


  <textarea name="Text1" cols="20" rows="15" [(ngModel)]="text1"></textarea> &nbsp;&nbsp;&nbsp;&nbsp;

  <textarea name="Text2" cols="20" rows="15" [(ngModel)]="text2"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;

  <textarea name="Text3" cols="20" rows="15" [(ngModel)]="text3"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;
  <textarea name="Text4" cols="20" rows="15" [(ngModel)]="text4"></textarea>


  <br/>
  <br/>
  <br/>

  <input type="button" value="СЧЕТ" (click)="knopka()">
  <br/>
  <br/>
  Средний балл
  <br/>
  <br/>


  Ерлан {{ball1}}&nbsp;&nbsp;&nbsp;&nbsp;Ильяс {{ball2}}&nbsp;&nbsp;&nbsp;&nbsp;Темирлан {{ball3}}&nbsp;&nbsp;&nbsp;&nbsp;Дима {{ball4}}
  <br/>
  <br/>
  <br/>
  <br/>

  Победитель:

  {{message}}
  <br/>
  <br/>

  _______________________________________________________________________________________________________________________
  <br/> <br/>
  <br/>
  <br/>
Лучший бросок
  <br/>

  <br/>
  {{message1}}
  <br/>
  <br/>



  <br/>
  <br/>
  <br/> <br/>
  <br/>
  <br/>
  <br/>
  <br/> <br/>
  <br/>
  <br/>
  <br/>
  <br/> <br/>
  <br/>
  <br/>
  <br/>
  <br/>



  <p>Астана 2019</p>

</div>

<router-outlet></router-outlet>
